<div style="text-align: center">
    <mat-form-field class="example-form-field">
        <mat-label>Search for movies</mat-label>
        <input matInput type="text" [(ngModel)]="filter.searchTerm" #userSearchInput>
        <button mat-button *ngIf="filter.searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>

<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-auto mb-3" *ngFor="let movie of movies">
            <movie-card [movie]=movie></movie-card>
        </div>
    </div>
</div>

<div class="centered-container" *ngIf="isLoading">
    <loader></loader>
</div>

<div class="centered-container load-button" *ngIf="this.filter.page * this.filter.count < this.totalItems">
    <button mat-raised-button color="primary" (click)="loadMore()">Load more</button>
</div>