.custom-loader {
    display:inline-block;
    font-size:0px;
    padding:0px;
    margin: 3% 0%;
 }
 .custom-loader span {
    vertical-align:middle;
    border-radius:100%;
    
    display:inline-block;
    width:10px;
    height:10px;
    margin:3px 2px;
    -webkit-animation:custom-loader 0.8s linear infinite alternate;
    animation:custom-loader 0.8s linear infinite alternate;
 }
 .custom-loader span:nth-child(1) {
    -webkit-animation-delay:-1s;
    animation-delay:-1s;
   background:#8AB5FF;
 }
 .custom-loader span:nth-child(2) {
    -webkit-animation-delay:-0.8s;
    animation-delay:-0.8s;
   background:#6DA3FF;
 }
 .custom-loader span:nth-child(3) {
    -webkit-animation-delay:-0.26666s;
    animation-delay:-0.26666s;
   background:#377EF9;
 }
 .custom-loader span:nth-child(4) {
    -webkit-animation-delay:-0.8s;
    animation-delay:-0.8s;
   background:#6DA3FF;
   
 }
 .custom-loader span:nth-child(5) {
    -webkit-animation-delay:-1s;
    animation-delay:-1s;
   background:#B1CEFF;
 }
 
 @keyframes custom-loader {
    from {transform: scale(0, 0);}
    to {transform: scale(1, 1);}
 }
 @-webkit-keyframes custom-loader {
    from {-webkit-transform: scale(0, 0);}
    to {-webkit-transform: scale(1, 1);}
 }